@{
    ViewData["Title"] = "Home Page";
    List<Cliente> clientes = ViewBag.clientes;
}

<div class="text-center">
    <h1 class="display-4">Clientes disponívies</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Telefone</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Cliente cliente in clientes){
                <tr>
                    <td>@cliente.Id</td>
                    <td>@cliente.Nome</td>
                    <td>@cliente.Telefone</td>
                </tr>
            }
        </tbody>
    </table>
</div>
